<!-- card.component.html -->
<div class="canvas" >
  <div class="card" style="min-width: 45%;">
    <div class="card-header">
      <div class="row">
        <div class="column">
          <h3>{{ title }}</h3>
        </div>
        <div class="column">
           <h4>{{ subtitle }}</h4>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
        <div class="flex-container">
            <div class="column avatar-container">
              <div>
                <img [src]="student?.photoUrl" alt="Student Photo" class="avatar">
              </div>
            </div>
            <div class="column">
              <div class="row">
                <mat-form-field>
                  <mat-label>First Name:</mat-label>
                  <input matInput placeholder="Enter first name" formControlName="firstName">
                  <mat-error *ngIf="studentForm.get('firstName')?.hasError('required')">First name is required</mat-error>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field>
                  <mat-label>Last Name:</mat-label>
                  <input matInput placeholder="Enter last name" formControlName="lastName">
                </mat-form-field>
              </div>  
              <div class="row">
                <mat-form-field>
                  <mat-label>Date of Birth:</mat-label>
                  <input type="date" matInput placeholder="Enter date of birth" formControlName="dateOfBirth">
                </mat-form-field>
              </div>
            </div>
        </div>
        <br/>
        <div class="card-footer">
          <button mat-raised-button color="primary">Save</button>
        </div>
      </form>
    </div>
  </div>
  <!-- Attendance Card-->
  
  <app-student-attendance [student]="student"></app-student-attendance>
  
  <!-- Testing Card-->
 
  <app-student-testing [student]="student"></app-student-testing>

  <!-- TODO: split to child component-->

  <app-student-payments [student]="student"></app-student-payments>
</div>


<!-- <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content> -->
  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
<!-- </mat-card> -->


  